:root{
  font-size: 16px;
  --white30: #ffffff;
  --white20: #A5A3A5;
  --white10: #3A3539;
}


body {
  color: var(--white30);
  font-family: 'Nunito', sans-serif;
  background-color: #251F24;
  margin: 0;
}

header{
  font-size: 14px;
  color: var(--white);
}

nav details summary{
  font-weight: bold;
}

header a{
  color: var(--white20);
  text-decoration: none;
}

header li{
  color: var(--white20);
}

header li:hover, a:hover{
  color: var(--white30);
}

summary {
  cursor: pointer;
}

h1{
  font-size: 60px;
  margin-block-start: 64px;
  margin-block-end: 16px;
}

h2{
  font-size: 32px;
  margin-block: 40px;
}

h3{
  font-size: 24px;
  font-weight: 600;
  margin-block: 16px;
}

hr{
  margin-block: 40px;
  border-color: #61616133;
}

pre{
  background: var(--white10);
}

p{
  color: var(--white20);
}



.hero{
  height: 350px;
  background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
}

.section-content img{
  margin-block-start: 40px;
  display: block;
}

.section-content{
  counter-reset: titleList;
}

.section-content h3{
  counter-increment: titleList;
}



.section-content h3::before{
  content: counter(titleList, decimal) ". ";
  
}

.section-content h3::after{
  content:'';
  width: 32px;
  height: 4px;
  background-color: red;
  display: inline-block;
  background-color: var(--white30);
  
}

blockquote{
  margin-block-start: 80px;
  margin-block-end: 63px;
  background-color: var(--white10);
  border-radius: 8px;
  width: 636px;
  height: 128px;  
  font-size: 24px;
  line-height: 32px;
  
}

blockquote span::before{
  content: '- ';  
}

.main hr{
  display: none;
}