:root{
  font-size: 16px;
  --white30: #ffffff;
  --white20: #A5A3A5;
  --white10: #3A3539;
}

html{
  scroll-behavior: smooth;
}


body {
  color: var(--white30);
  font-family: 'Nunito', sans-serif;
  background-color: #251F24;
  margin: 0;
}

/* .header{
  position: sticky;
  inset-block-start: -45px;
} */

.header-content{
  padding-inline: 20px;

}

header{
  font-size: 14px;
  color: var(--white);
  margin-block-start: 20px;
  /* position: absolute; */
  /* inset-inline-start: -208px;  */
  /* inline-size: 188px;  */
}

nav details summary{
  font-weight: bold;
}

header a{
  color: var(--white20);
  text-decoration: none;
}

header li{
  color: var(--white20);
  margin-block-end: 16px;
}

header li:hover, a:hover{
  color: var(--white30);
}

summary {
  cursor: pointer;
}

h1{
  font-size: 40px;
  margin-block-start: 20px;
  margin-block-end: 16px;
}

h2{
  font-size: 32px;
  margin-block: 40px;
}

h3{
  font-size: 24px;
  font-weight: 600;
  margin-block: 16px;
}

hr{
  margin-block: 40px;
  border-color: #61616133;
}

pre{
  background: var(--white10);
  padding-inline: 40px;
  padding-block: 40px;
  overflow: auto;
  border-radius: 8px;
  border: 10px solid #5541ff;
  box-shadow: -10px 10px 0 0 #abaaf6;
  margin-block-end: 30px;
}

p{
  color: var(--white20);
}



.hero{
  height: 96px;
  background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
}

.section-content img{
  margin-block-start: 40px;
  display: block;
  max-inline-size: 100%;
  /* max-inline-size: 100%; */
}

.section-content{
  counter-reset: titleList;
}

.section-content h3{
  counter-increment: titleList;
}



.section-content h3::before{
  content: counter(titleList, decimal) ". ";
  
}

blockquote{
  margin-block-start: 80px;
  margin-block-end: 63px;
  background-color: var(--white10);
  border-radius: 8px;
  font-size: 24px;
  line-height: 32px;
  padding-inline: 24px;
  padding-block: 24px;
}

blockquote p{
  color: var(--white30);
}


blockquote span::before{
  content: '- ';  
}

.main hr{
  display: none;
}

.wrapper{
  max-inline-size: 902px;
  margin: auto;
}

.main-content{
  padding-inline: 16px;
}

p a{
  color: #157EFB;
}
/* 
.slider{
  border: 1px solid red;
} */

.slider-container{
  /* block-size: 100px; */
  display: block;
  overflow: hidden;
  scroll-behavior: smooth;
  white-space: nowrap;
  font-size: 0;
}

.video{
  margin: 0;
  display: inline-block;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.slider-bullet-list{
  text-align: center;
  margin-block-start: 5px;
}

.slider-bullet{
  display: inline-block;
  inline-size: 15px;
  block-size: 15px;
  background-color: #fff;
  border-radius: 50%;
}

.form input{
  inline-size: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid var(--white30);
  block-size: 48px;
  font-size: 16px;
  line-height: 24px;
  color: var(--white30);
  padding-inline-start: 16px;
  padding-block: 12px;
  display: block;
  margin-block-end: 24px;
}

.form input[type="submit"]{
  background-color: #157EFB;
  border: none;
}

.form input::placeholder{
  color: var(--white20);
}


@media screen and (min-width: 1366px){

  h1{
    font-size: 60px;
    margin-block-start: 64px;
  }

  .hero{
    block-size: 350px;
  }

  .header{
    position: sticky;
    inset-block-start: -45px;
  }

  .header-content{
    position: relative;
    inset-block-start: 65px;
    padding-inline: 0;
  }

  header{
    font-size: 14px;
    color: var(--white);
    position: absolute;
    inset-inline-start: -208px; 
    inline-size: 188px; 
  }

  pre{
    border-end-end-radius: 60px;
  }
}